.row
  .col-12
    .jumbotron
      %h1.display-4 New Session
.row
  .col-4
  .col-4
    = form_tag sessions_path, remote: true, 'data-controller' => 'sessions', 'data-action' => 'ajax:success->sessions#beginLogin' do
      .form-group
        = label_tag :account_name, 'Account Name', class: 'col-form-label'
        = text_field_tag :account_name, @account_name, class: 'form-control'
      .form-group
        = submit_tag 'Login with Hive Keychain', class: 'form-control btn btn-lg btn-primary'
    
    #success-alert.alert.alert-primary{style: 'display: none;'}
    #error-alert.alert.alert-danger{style: 'display: none;'}
  .col-4
