%table.table.table-dark.table-sm
  %tr
    %td{colspan: 2} Posts
  %tr
    %td{align: :right}
      %code [enter]
    %td{align: :left} open/close post preview
  %tr
    %td{align: :right}
      %code [esc]
    %td{align: :left} close post preview
  %tr
    %td{align: :right}
      %code l, arrow-left
    %td{align: :left} next post
  %tr
    %td{align: :right}
      %code h, arrow-right
    %td{align: :left} previous post
  %tr
    %td{align: :right}
      %code j, down-arrow
    %td{align: :left} focus next
  %tr
    %td{align: :right}
      %code k, down-up
    %td{align: :left} focus previous
